[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
gunicorn = "*"
django = ">=3.0.3"
pillow = ">=6.2.2"
requests = "*"
bs4 = "*"
psycopg2 = "*"
celery = "*"

[requires]
python_version = "3.6"
