{% load static %}

<!doctype html>
<html>
    <head>

        <!--=== META TAGS ===-->
        <meta content="text/html" charset="utf-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
        <title>{% block title %}CRITr{% endblock %}</title>
        <meta charset="utf-8" />
        <meta name="description" content="A webapp to organise CRITr. Includes mapping functionality, reporting tools and event management.">
        <meta name="author" content="Matt Ellis">

        <!-- jQuery library -->
        <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>

        <!-- My styling-->
        <link rel="stylesheet" type="text/css" href="{% static 'css/maps.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/icons.css' %}">

        <!-- Material Design Icons -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <!-- W3 Schools CSS styling -->
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

        <style media="screen">
          .litter_icon { background: url("{% static 'img/icons/delete_outline-black-18dp/2x/outline_delete_outline_black_18dp.png'%}"); }
          .loitter_icon { background: url("{% static 'img/icons/group-black-18dp/2x/outline_group_black_18dp.png'%}"); }
          .graffiti_icon { background: url("{% static 'img/icons/insert_photo-black-18dp/2x/outline_insert_photo_black_18dp.png'%}"); }
          .park_icon { background: url("{% static 'img/icons/local_parking-black-18dp/2x/outline_local_parking_black_18dp.png'%}"); }
          .speed_icon { background: url("{% static 'img/icons/directions_car-black-18dp/2x/outline_directions_car_black_18dp.png'%}"); }
        </style>

        {% block addtionalScriptsHead %}
        {% endblock %}
    </head>


    <body>
    {% block content %}
    {% endblock %}
    </body>


    <footer>

      <!-- Bootstrap -->
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


      {% block additionalScriptsFoot %}
      {% endblock %}
    </footer>

</html>
